/* Global Styles */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    height: 50px;
}

.navbar a.btn, .navbar button.btn {
    padding: 8px 15px;
    font-size: 1rem;
    border-radius: 5px;
    margin-left: 10px;
    background-color: #007bff !important; /* Custom color with high specificity */
    color: white;
    border: none;
    margin-top: -5px;
}

.navbar a.btn:hover, .navbar button.btn:hover {
    background-color: #0056b3 !important; /* Custom hover color */
}

body {
    background-color: #080733;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/* Container Styles */
.container {
    background-color: white;
    padding: 40px;
    margin-top: 100px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

/* Headings */
h1 {
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
}

form input, form select, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

/* Media Query for Mobile Responsiveness */
@media (max-width: 600px) {
    .container {
        padding: 20px;
        margin-top: 30px;
    }

    h1 {
        font-size: 1.5rem;
    }

    button, a.btn-success {
        width: 100%;
        padding: 15px;
        font-size: 1.2rem;
    }
}