{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'profile.css' %}">
</head>
    <nav class="navbar" navbar-expand-lg bg-body-tertiary>
        <div class="container-fluid">
            <a href="{% url 'nutrition_app:home' %}" class="btn btn-success">Home</a>
            <form action="{% url 'nutrition_app:logout' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Logout</button>
            </form>
        </div>
    </nav>
<body>
    <div class="container">
        <h1 class="mt-5">Profile Information</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}  <!-- Renders the form fields -->
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>
    </div>
</body>
</html>