{% load static %}
{% load mathExtras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<link rel="stylesheet" href="{% static 'waterStyle.css' %}">
    <title>HOME</title>
</head>
<body>
     <nav class="navbar" navbar-expand-lg bg-body-tertiary>
        <div class="container-fluid">
            <a href="{% url 'nutrition_app:foodForm' %}" class="btn btn-primary">Add A Meal</a>
            <a href="{% url 'nutrition_app:mealsList' %}" class="btn btn-primary">History</a>
            <a href="{% url 'nutrition_app:profile' %}" class="btn btn-primary">Profile</a>
            <form action="{% url 'nutrition_app:logout' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Logout</button>
            </form>
        </div>
    </nav>
    
    <div class="circle">
        <div class="water" data-total-calories="{{ total_calories }}" style="height: 0;"></div>
    </div>
    <script src="{% static 'waterAnimation.js' %}"></script>
    <div class="calories_display">
        <div class = "calories-box">
            <p>{{ total_calories|percentage:2000|floatformat:2 }}%
                {{ total_calories|floatformat:2 }}  / 2000
            </p> <!-- Change 2000 to user caloric goal -->
        </div>
    </div>
    <div class="macros">
        <div class="macro-box">
            <h3>Calories</h3>
            <p>{{ total_calories }}</p>
        </div>
        <div class="macro-box">
            <h3>Protein</h3>
            <p>{{ total_protein }} g</p>
        </div>
        <div class="macro-box">
            <h3>Carbs</h3>
            <p>{{ total_carbs }} g</p>
        </div>
        <div class="macro-box">
            <h3>Fats</h3>
            <p>{{ total_fats }} g</p>
        </div>
        <div class="macro-box">
            <h3>Salt</h3>
            <p>{{ total_sodium}}</p>
        </div>
        <div class="macro-box">
            <h3>Sugar</h3>
            <p>{{ total_sugar}} g</p>
        </div>
    </div>

</body>
</html>